<section class="faq">
	<div class="container">
		<button class="skip-btn" onclick="window.mobapp.onBackNavigation();">
			{{ 'Skip' | translate }}
		</button>
		<div class="faq-img">
			<ul>
				<li [class.show]="slide === 1">
					<img src="../assets/imgs/{{ currentLanguage }}/slide1.png" alt="">
				</li>
				<li [class.show]="slide === 2">
					<img src="../assets/imgs/{{ currentLanguage }}/slide2.png" alt="">
				</li>
				<li [class.show]="slide === 3">
					<img src="../assets/imgs/{{ currentLanguage }}/slide3.png" alt="">
				</li>
				<li [class.show]="slide === 4">
					<img src="../assets/imgs/{{ currentLanguage }}/slide4.png" alt="">
				</li>
				<li [class.show]="slide === 5">
					<img src="../assets/imgs/{{ currentLanguage }}/slide5.png" alt="">
				</li>
			</ul>
		</div>
		<div class="faq-bottom">
			<ul class="faq-bottom-text">
				<li *ngIf="slide === 1">
					<p>
						{{ 'slides.slide1' | translate }}
					</p>
				</li>
				<li *ngIf="slide === 2">
					<p>
						{{ 'slides.slide2' | translate }}
					</p>
				</li>
				<li *ngIf="slide === 3">
					<p>
						{{ 'slides.slide3' | translate }}
					</p>
				</li>
				<li *ngIf="slide === 4">
					<p>
						{{ 'slides.slide4' | translate }}
					</p>
				</li>
				<li *ngIf="slide === 5">
					<p>
						{{ 'slides.slide5' | translate }}
					</p>
				</li>
			</ul>
			<div class="btn btn-primary" (click)="slide =  slide + 1" *ngIf="slide != 5">
				{{ 'Next' | translate }}
			</div>
			<button 
				onclick="window.mobapp.onBackNavigation();" 
				class="btn btn-primary" 
				*ngIf="slide === 5"> 
				{{ 'Ok' | translate }}
			</button>

			<ul class="dots">
				<li [class.active]="slide === 1" (click)="slide = 1"></li>
				<li [class.active]="slide === 2" (click)="slide = 2"></li>
				<li [class.active]="slide === 3" (click)="slide = 3"></li>
				<li [class.active]="slide === 4" (click)="slide = 4"></li>
				<li [class.active]="slide === 5" (click)="slide = 5"></li>
			</ul>
		</div>
	</div>
</section>