section.faq {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #083759;
}

.faq-img {
    text-align: center;
    padding-top: 10%;
}

.btn{
    width: 100%;
}

.faq-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
/* or 143% */
    color: #000000;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.faq-bottom p {
    margin-bottom: 24px;
}

.faq-img img {
    max-width: 100%;
    max-height: 100%;
}

button.skip-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}

ul.dots {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.dots li {
    width: 10px;
    height: 10px;
    background: #EDEEF0;
    border-radius: 10px;
    margin: 0 6px;
    cursor: pointer;
    transition: all .3s ease-out;
}

ul.dots li.active {
    background: #1565C0;
    width: 24px;
}

.faq-img ul{
    position: relative;
}

.faq-img li{
    opacity: 0;
    transition: all .4s ease-out;
}

.faq-img li.show{
    opacity: 1;
}

.faq-img li:first-child{
    position: relative;
}

.faq-img li {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}