.doc-info {
    background: #fff;
}

.info-t {
    padding: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.info-t:last-child{
    border: none;
}

.info-t span {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 9px;
    color: #000000;
    display: block;
}

.paymant-blck p{
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.info-t p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.info-t b {
    font-weight: 600;
}

.doc-participants{
    padding: 20px;
    margin: 0px 0;
    background: #fff;
}

main{
    background: #f5f5f5;
}

.html-view {
    background: #fff;
    margin-bottom: 100px;
}

.sign-info td {
    padding: 5px 0;
    line-height: 1.5;
    font-size: 13px;
}

.sign-info td b{
    display: block;
    color: rgba(21, 21, 21, 0.25);
}

table.sign-info td:last-child {
    font-size: 13px;
    line-height: normal;
    text-align: right;
    color: #949494;
}

table.sign-info .d-f {
    justify-content: flex-start;
    align-items: baseline;
}

table.sign-info .d-f span {
    display: block;
    padding-right: 10px;
}

table{
    width: 100%;
}

.info-text {
    position: relative;
    background: #e1f5fe;
    color: #01579b;
    padding: 20px;
    padding-left: 36px;
    font-size: 14px;
    margin-top: 10px;
}

.info-text img {
    position: absolute;
    left: 12px;
    top: 21px;
    width: 15px;
}

.info-text a{
    color: #2A6BCB;
    font-weight: 600;
    line-height: 1.5;
}

.info-text p{
    line-height: 20px;
}

.info-text svg{
    vertical-align: top;
    line-height: 25;
}


.doc-fields {
    padding: 20px;
    background: #fff;
/*    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;*/
}

.info-f {
    padding: 0;
    margin-bottom: 24px;
}

.info-f span {
    font-size: 13px;
    line-height: normal;
    text-align: center;
    color: #C4C4C4;
}

.info-f p {
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    font-weight: 400;
    margin-top: 5px;
    word-break: break-all;
}

h1{
    color: #000;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 20px;
}

a.edit-link {
    color: #2A6BCB;
    font-weight: 600;
    font-size: 13px;
}

.sign-info-text{
    color: #019875;text-align: center;
}


.spiner-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000094;
    z-index: 9;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.spinner-demo.spinner {
    position: relative;
}

.spiner-mask {
    color: #fff;
}

.spiner-mask div {
    text-align: center;
}

.spinner-demo.spinner {
    margin: 0 auto 20px;
}

strong{
    font-weight: 600;
}

.info-t:first-child {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}

h1.divider {
    /*font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.5;*/
}

.info-f ~ .info-f h1.divider:before {
    content: '';
    display: block;
    height: 20px;
    background: #f0f0f0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}


h3.divider {
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5;
}

.block-c ~ .block-c h3.divider:before {
    content: '';
    display: block;
    height: 20px;
    background: #f0f0f0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

label.paymant-info {
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center; 
}

label.paymant-info  span{
    font-size:  11px;
    line-height: 14px;
}

label.paymant-info b {
    font-weight: bold;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.payed-text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.btn-delete{
    color: #fff;
    background: #EB5757;
}

.modal-reject{
    color: #EB5757;
}