<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				 {{'Document' | translate}}
			</div>
			<div class="header-right">

			</div>
		</div>
	</div>
</header>

<main *ngIf="document">
	<div class="doc-info">
		<div class="info-t">
			<span>{{'Title' | translate}}</span>
			<p><b *ngIf="document">{{document.title[currentLanguage]}}</b></p>
		</div>
		<div class="info-t">
      <span>{{'Initiator' | translate}}</span>
			<p *ngIf="contract">
				<b>{{contract.initiatorFullName.last}} {{contract.initiatorFullName.first}} {{contract.initiatorFullName.middle}}</b>
				<span> {{'IIN' | translate}}: {{contract.initiator.iin}}</span>
			</p>
		</div>
		<div class="info-t">
			<span>
        {{'status.status' | translate}}
				<i class="reload" id="reload" (click)="getContractByIdLoad()"><img src="assets/refresh-page-option.svg" alt=""></i>
			</span>
			<div class="ng-container" *ngIf="contract">
				<p>
					<ng-container *ngIf="contract.currentState === 'DRAFT'">
            {{'DRAFT' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'CANCELED'">
            {{'CANCELED' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'WAITING_FOR_CONFIRMATION'">
            {{'status.anticipationSigning' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'DONE'">
            {{'SUCCESS' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'WAITING_FOR_APPROVAL'">
            {{'WAITING_FOR_APPROVAL' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'VERIFICATION'">
            {{'VERIFICATION' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'PARTIES_SIGNATURE_VERIFICATION'">
            {{'PARTIES_SIGNATURE_VERIFICATION' | translate}}
					</ng-container>
					<ng-container *ngIf="contract.currentState === 'REJECTED' || contract.currentState === 'ERROR'">
						<span style="color: #E63333">
               {{'REJECTED' | translate}}
            </span>
					</ng-container>
				</p>
			</div>
		</div>
	</div>

	<div class="container paymant-blck" *ngIf="document && contract && this.showPaymentText">
		<div *ngIf="showStatusBtn">
			<button class="btn btn-block" (click)="goToStatus()">{{'status.goToStatus' | translate}}</button>
			<br>
		</div>
		<div class="showInfoText && !showPayedText" *ngIf="inProgressText">
			<p>{{'show.applicationBeingVerified' | translate}}</p>
			<br>
		</div>
		<div *ngIf="rkCode && !showPayedText">
			<label class="paymant-info">{{'show.beforePaymentContractRegistered' | translate}}: <b>{{rkCode}}</b> <span>{{'show.forRegistrationNeedPayment' | translate}}</span></label>

			<div class="btn btn-primary" (click)="payC()">{{'pay' | translate}}</div>
			<br><br>
		</div>

		<div *ngIf="showPayedText" class="payed-text">
			<p>{{'show.rightsRegistered' | translate}}</p><br>
		</div>
	</div>

	<div class="spiner-mask" *ngIf="loading">
		<div>
			<div class="spinner-demo spinner"></div>
			<ng-container *ngIf="contract.currentState === 'DRAFT'">
        {{'DRAFT' | translate}}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'CANCELED'">
        {{'CANCELED' | translate}}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'WAITING_FOR_CONFIRMATION'">
        {{'status.anticipationSigning' | translate}}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'DONE'">
        {{'SUCCESS' | translate}}
			</ng-container>

			<ng-container *ngIf="contract.currentState === 'WAITING_FOR_APPROVAL'">
        {{'WAITING_FOR_APPROVAL' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'VERIFICATION'">
        {{'VERIFICATION' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'PARTIES_SIGNATURE_VERIFICATION'">
        {{'PARTIES_SIGNATURE_VERIFICATION' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'REJECTED' || contract.currentState === 'ERROR'">
        {{'erroneousDocument' | translate}}
			</ng-container>
		</div>
	</div>

	<br>

	<div class="doc-participants">
		<h1>{{'Status of participants' | translate}}</h1>
		<table class="sign-info" *ngIf="contract">
			<tr>
				<td>
					<span>1. </span>
				</td>
				<td>
					{{contract.initiatorFullName.last}} {{contract.initiatorFullName.first}} {{contract.initiatorFullName.middle}}
					<b>{{contract.initiator.iin}}</b>
				</td>
				<td *ngIf="!contract.initiatorSignatureProvided">
					<span class="statusblock ">{{'Waiting' | translate}}</span>
				</td>
				<td  *ngIf="contract.initiatorSignatureProvided">
					<span class="statusblock signed">{{'SUCCESS' | translate}}</span>
				</td>
			</tr>
			<tr *ngFor="let item of contract.parties; let i = index">
				<td>
					<span>{{i+2}}. </span>
				</td>
				<td *ngIf="this.app.user.iin === item.iin">
					<strong>{{contract.partiesFullNames[item.iin].last + ' ' + contract.partiesFullNames[item.iin].first + ' ' + contract.partiesFullNames[item.iin].middle}} ({{'You' | translate}})</strong>
					<b>{{'IIN' | translate}}: {{item.iin}}</b>
				</td>
				<td *ngIf="this.app.user.iin !== item.iin">
					{{contract.partiesFullNames[item.iin].last + ' ' + contract.partiesFullNames[item.iin].first + ' ' + contract.partiesFullNames[item.iin].middle}}

					<b>{{'IIN' | translate}}: {{item.iin}}</b>
				</td>
				<td *ngIf="!contract.confirmedParties.length && !contract.rejectedParties.length">
					<span class="statusblock ">{{'Waiting' | translate}}</span>
				</td>
				<td  *ngIf="contract.confirmedParties.length || contract.rejectedParties.length">
					<span class="statusblock {{checkInn(item.iin)}}">
						<ng-container *ngIf="checkInn(item.iin) === 'signed'">
							{{'SUCCESS' | translate}}
						</ng-container>
						<ng-container *ngIf="checkInn(item.iin) === 'waiting'">
							{{'Waiting' | translate}}
						</ng-container>
						<ng-container *ngIf="checkInn(item.iin) === 'rejected'">
							{{'CANCELED' | translate}}
						</ng-container>
					</span>
				</td>
			</tr>
		</table>
	</div>

	<br>

	<div class="doc-fields">
		<ng-container *ngFor="let item of document.inputForm.fields[1]">
			<div class="block-c" *ngIf="item.display">
        <h3 *ngIf="item.groupTitleRu && currentLanguage === 'ru'" class="divider">
          {{item.groupTitleRu}}
        </h3>
        <h3 *ngIf="item.groupTitleKz && currentLanguage === 'kk'" class="divider">
          {{item.groupTitleKz}}
        </h3>
				<div class="info-f">
					<span>{{item.title[currentLanguage]}}</span>
          <p *ngIf="item.source && !item.sourceType; else simple" >
            {{documentFileds[item.targetFields[0]]}}
          </p>
          <ng-template #simple>
            {{documentFileds[item.code] || '------'}}
          </ng-template>
				</div>
			</div>
		</ng-container>
	</div>
	<br>

	<div class="container" *ngIf="contract">
		<div *ngIf="checkInn(this.app.user.iin) === 'waiting'">
			<button
        class="btn btn-primary btn-block mb-3"
        (click)="signDoc()"
				[disabled]="!contract.partiesCanSign || signDocIng"
      >{{'Sign' | translate}}</button>

			<button
        class="btn btn-danger btn-block mb-3"
        (click)="rejectModal = true"
        [disabled]="!contract.partiesCanSign"
      >{{'Reject' | translate}}</button>
		</div>

		<div *ngIf="checkInn(this.app.user.iin) === 'signed'" class="text-center text-success mb-3">
			<p>{{'You signed this contract' | translate}}</p>
		</div>

		<div *ngIf="checkInn(this.app.user.iin) === 'rejected'" class="text-center text-danger mb-3">
			<p>{{'show.youRejectedThisContract' | translate}}</p>
		</div>

    <div class="text-center mb-3" *ngIf="contract.initiatorSignatureProvided">
      <a
        class="link-success"
        [href]="'action://mgov.mobile.kz/module?page=pdf&id=' + this.id + '&language=' + contract.language | safeUrl"
      >{{'Printed form document' | translate}}</a>
    </div>

		<div class="info-text text-center mb-3">
      <p>{{'Document generation may take some time' | translate}}</p>
    </div>

    <p *ngIf="contract && contract.currentState === 'CANCELED'" class="text-center" style="color: #EB5757">{{'CANCELED' | translate}}</p>

  </div>
</main>


<div class="modalF" [ngClass]="{'closed': !rejectModal}">
  <div class="modal-overley" (click)="rejectModal=false"></div>
  <div class="form">
    <div class="close" (click)="rejectModal=false">×</div>
	<div class="modal-header">
    	<h1>{{'show.sureWantRejectDocument' | translate}}</h1>
	</div>
	<div class="modal-footer">
		<div (click)="rejectModal=false">{{'No' | translate}}</div>
		<div class="modal-reject" (click)="rejectedDoc()">{{'Yes' | translate}}</div>
	</div>
  </div>
</div>

<div class="modalF" [ngClass]="{'closed': !modalError}">
  <div class="modal-overley" (click)="modalError=false"></div>
  <div class="form">
    <div class="close" (click)="modalError=false">×</div>
	<div class="modal-header">
    	<h1>
        {{'You are trying to sign the consent with AUTH' | translate}}
    	</h1>
	</div>
	<div class="modal-footer">
		<div></div>
		<div (click)="modalError=false">
			{{'Close' | translate}}
		</div>
		<!-- <div class="modal-yes btn-red" (click)="rejectRequest()">
			{{ 'Yes' | translate }}
		</div> -->
	</div>
  </div>
</div>
<a id="showError" (click)="showError()"></a>
