<header *ngIf="contract">
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button (click)="goBack()">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				 {{ 'Document' | translate }}
			</div>
			<div class="header-right">
				<div *ngIf="!contract.initiatorSignatureProvided" [routerLink]="['/parties/' + id]">
					<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.9491 7.59506C11.9914 5.90371 10.596 4.46606 8.90465 4.46606C8.86236 4.46606 8.82008 4.46606 8.77779 4.46606C7.04416 4.46606 5.52195 5.86143 5.60651 7.59506C5.60651 7.93333 5.94478 9.70925 5.94478 9.70925C6.19849 11.2315 7.2133 12.5 8.77779 12.5C10.3423 12.5 11.3148 11.2315 11.6108 9.70925C11.6108 9.70925 11.9491 7.97561 11.9491 7.59506Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M16.6003 20.5339H0.955322L1.20902 17.4895C1.33588 16.3478 2.51982 15.5445 3.70377 15.333L8.77781 14.6565L13.8941 15.333C15.2049 15.5867 16.3466 16.3056 16.4312 17.6164L16.6003 20.5339Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M20.1944 9.70939C20.1944 8.31402 19.0528 7.17236 17.6574 7.17236C16.262 7.17236 15.1204 8.31402 15.1204 9.70939C15.1204 10.0054 15.4163 11.3585 15.4163 11.3585C15.6278 12.5424 16.4312 13.5572 17.6574 13.5572C18.8836 13.5572 19.687 12.5424 19.8984 11.3585C19.9407 11.3585 20.1944 9.96309 20.1944 9.70939Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M17.6573 15.46L21.8434 15.9674C22.8582 16.1365 23.7885 16.7285 23.8731 17.8278L23.9999 20.534H19.1373" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</header>

<main *ngIf="contract && document" [class.overflow]="loading">
	<div class="doc-info">
		<div class="info-t">
			<span>{{ "Title" | translate }}</span>
			<p><b *ngIf="document">{{document.title[currentLanguage]}}</b></p>
		</div>
		<div class="info-t">
			<span>{{ "Initiator" | translate }}</span>
			<p *ngIf="contract">
				<b>{{contract.initiatorFullName.last}} {{contract.initiatorFullName.first}} {{contract.initiatorFullName.middle}}</b>
				<span> {{'IIN' | translate}}: {{contract.initiator.iin}}</span>
			</p>
		</div>
		<div class="info-t">
			<span>
				{{'status.status' | translate}}
				<i class="reload" id="reload" (click)="getContractByIdLoad()"><img src="assets/refresh-page-option.svg" alt=""></i>
			</span>
			<p>
				<ng-container *ngIf="contract.currentState === 'DRAFT'">
					{{ "DRAFT" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'CANCELED'">
					{{ "CANCELED" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'WAITING_FOR_CONFIRMATION'">
					{{ "IN_PROGRESS" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'DONE'">
					{{ "DONE" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'WAITING_FOR_APPROVAL'">
					{{ "WAITING_FOR_APPROVAL" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'VERIFICATION'">
					{{ "VERIFICATION" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'PARTIES_SIGNATURE_VERIFICATION'">
					{{ "VERIFICATION" | translate }}
				</ng-container>
				<ng-container *ngIf="contract.currentState === 'REJECTED' || contract.currentState === 'ERROR'">
					 <span style="color: #E63333">
						{{ "REJECTED" | translate }}
					 </span>
				</ng-container>
			</p>
		</div>
	</div>

	<div class="container paymant-blck" *ngIf="document && contract && this.showPaymentText">
		<!-- <div class="showInfoText" *ngIf="!showBtn && showInfoText">
			<p>Заявка проходит верификацию. Это может занять некоторое время.</p>
			<br>
		</div> -->
		<div *ngIf="inProgressText && !showBtn">
			<p>{{'show.applicationBeingVerified' | translate}}</p>
			<br>
		</div>
		<!-- <div *ngIf="showPayedText" class="payed-text">
			<p>Не оплачен </p><br>
		</div> -->
		<div *ngIf="showPayedText" class="payed-text">
			<p>{{'show.rightsRegistered' | translate}}</p><br>
		</div>
		<div *ngIf="showBtn">
			<button class="btn btn-block" (click)="goToNextStep()">{{'goToService' | translate}}</button>
			<br>
		</div>

		<div *ngIf="showStatusBtn">
			<button class="btn btn-block" (click)="goToStatus()">{{'status.goToStatus' | translate}}</button>
			<br>
		</div>
	</div>

	<div class="spiner-mask" *ngIf="loading">
		<div>
			<div class="spinner-demo spinner"></div>
			<ng-container *ngIf="contract.currentState === 'DRAFT'">
				{{'DRAFT' | translate}}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'CANCELED'">
        {{ "CANCELED" | translate }}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'WAITING_FOR_CONFIRMATION'">
				{{'status.anticipationSigning' | translate}}
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'DONE'">
				{{'DONE' | translate}}
			</ng-container>

			<ng-container *ngIf="contract.currentState === 'WAITING_FOR_APPROVAL'">
        {{'WAITING_FOR_APPROVAL' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'VERIFICATION'">
        {{'VERIFICATION' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'PARTIES_SIGNATURE_VERIFICATION'">
				{{'PARTIES_SIGNATURE_VERIFICATION' | translate}}...
			</ng-container>
			<ng-container *ngIf="contract.currentState === 'REJECTED' || contract.currentState === 'ERROR'">
				{{'erroneousDocument' | translate}}
			</ng-container>
		</div>
	</div>

	<br>

	<div class="doc-participants" *ngIf="contract.currentState !=='CANCELED'">
		<h1>{{'Status of participants' | translate}}:</h1>
		<table class="sign-info" >
			<tr>
				<td>
					<span>1. </span>
				</td>
				<td>
					{{'You' | translate}}
				</td>
				<td *ngIf="!contract.initiatorSignatureProvided">
					<span class="statusblock ">{{'Waiting' | translate}}</span>
				</td>
				<td  *ngIf="contract.initiatorSignatureProvided">
					<span class="statusblock signed">{{'SUCCESS' | translate}}</span>
				</td>
			</tr>
			<tr *ngFor="let item of contract.parties; let i = index">
				<td>
					<span>{{i+2}}. </span>
				</td>
				<td>
					{{contract.partiesFullNames[item.iin].last + ' ' + contract.partiesFullNames[item.iin].first + ' ' + contract.partiesFullNames[item.iin].middle}}

					<b>{{'IIN' | translate}}: {{item.iin}}</b>
				</td>
				<td *ngIf="!contract.confirmedParties.length && !contract.rejectedParties.length">
					<span class="statusblock ">{{'Waiting' | translate}}</span>
				</td>
				<td  *ngIf="contract.confirmedParties.length || contract.rejectedParties.length">
					<span class="statusblock {{checkInn(item.iin)}}">
						<ng-container *ngIf="checkInn(item.iin) === 'signed'">
							{{'SUCCESS' | translate}}
						</ng-container>
						<ng-container *ngIf="checkInn(item.iin) === 'waiting'">
							{{'Waiting' | translate}}
						</ng-container>
						<ng-container *ngIf="checkInn(item.iin) === 'rejected'">
							{{'ACCEPTOR_REJECTED' | translate}}
						</ng-container>
					</span>
				</td>
			</tr>
		</table>
		<div class="info-text" *ngIf="!contract.parties.length">
			<img src="assets/information.svg" alt="">
			<p>
				{{'youNeedAddSigner' | translate}} <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.9491 7.59506C11.9914 5.90371 10.596 4.46606 8.90465 4.46606C8.86236 4.46606 8.82008 4.46606 8.77779 4.46606C7.04416 4.46606 5.52195 5.86143 5.60651 7.59506C5.60651 7.93333 5.94478 9.70925 5.94478 9.70925C6.19849 11.2315 7.2133 12.5 8.77779 12.5C10.3423 12.5 11.3148 11.2315 11.6108 9.70925C11.6108 9.70925 11.9491 7.97561 11.9491 7.59506Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M16.6003 20.5339H0.955322L1.20902 17.4895C1.33588 16.3478 2.51982 15.5445 3.70377 15.333L8.77781 14.6565L13.8941 15.333C15.2049 15.5867 16.3466 16.3056 16.4312 17.6164L16.6003 20.5339Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M20.1944 9.70939C20.1944 8.31402 19.0528 7.17236 17.6574 7.17236C16.262 7.17236 15.1204 8.31402 15.1204 9.70939C15.1204 10.0054 15.4163 11.3585 15.4163 11.3585C15.6278 12.5424 16.4312 13.5572 17.6574 13.5572C18.8836 13.5572 19.687 12.5424 19.8984 11.3585C19.9407 11.3585 20.1944 9.96309 20.1944 9.70939Z" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
					<path d="M17.6573 15.46L21.8434 15.9674C22.8582 16.1365 23.7885 16.7285 23.8731 17.8278L23.9999 20.534H19.1373" stroke="#2A6BCB" stroke-width="1.5" stroke-miterlimit="10"/>
				</svg> {{'orFollowLink' | translate}} <a [routerLink]="['/parties/' + id]">{{'addSigners' | translate}}</a>.
			</p>
		</div>
	</div>

	<br>
	<div class="doc-fields mb-4" *ngIf="document">
		<ng-container *ngFor="let item of document.inputForm.fields[1]">
			<div class="block-c" *ngIf="item.display">
				<h3 *ngIf="item.groupTitleRu && currentLanguage === 'ru'" class="divider">
          {{item.groupTitleRu}}
        </h3>
        <h3 *ngIf="item.groupTitleKz && currentLanguage === 'kk'" class="divider">
          {{item.groupTitleKz}}
        </h3>
				<div class="info-f">
					<label>{{item.title[currentLanguage]}}</label>
					<p *ngIf="item.source && !item.sourceType; else simple" >
            {{documentFileds[item.targetFields[0]]}}
          </p>
					<ng-template #simple>
            <p>{{documentFileds[item.code] || '------'}}</p>
          </ng-template>
				</div>
			</div>
		</ng-container>
	</div>

  <div class="text-center mb-3">
    <a
      class="link-primary"
      *ngIf="contract?.currentState === 'DRAFT'"
      [routerLink]="['/edit/', contract.documentId, contract.contractId]"
    >{{'changeData' | translate}}</a>
  </div>

	<div class="container" *ngIf="document && contract">

    <button
      *ngIf="!contract.initiatorSignatureProvided && contract.currentState === 'DRAFT'"
      class="btn btn-primary btn-block mb-3"
      (click)="signDoc()"
      [disabled]="!contract.initiatorCanSign || signDocIng"
    >{{'Sign' | translate}}</button>

    <div *ngIf="contract.initiatorSignatureProvided" class="text-success text-center mb-3">
      {{'You signed this document' | translate}}
		</div>

		<div class="text-center mb-3">
      <a
        class="link-success"
        *ngIf="this.contract.currentState === 'DRAFT'"
        [href]="'action://mgov.mobile.kz/module?page=pdfpreview&id=' + this.id + '&language=' + contract.language | safeUrl"
      >
        {{'PreliminaryPdf' | translate}}
      </a>
    </div>

    <div
      *ngIf="contract.partiesCanSign || contract.confirmedParties.length || contract.currentState === 'REJECTED' || contract.currentState === 'CANCELED'"
      class="text-center mb-3"
    >
      <a
        [href]="'action://mgov.mobile.kz/module?page=pdf&id='+ this.id +'&language=' + contract.language | safeUrl"
      >{{'Printed form document' | translate}}</a>
    </div>

		<div class="info-text mb-3 text-center" *ngIf="contract.currentState !== 'CANCELED'">
			<p>{{'Document generation may take some time' | translate}}</p>
		</div>

    <button
      *ngIf="(contract.currentState === 'DRAFT' || !contract.confirmedParties.length) && contract.currentState !== 'CANCELED'"
      class="btn btn-danger btn-block"
      (click)="deleteModal = true"
    >{{'Delete' | translate}}</button>

	</div>
</main>

<div class="modalF" [ngClass]="{'closed': !deleteModal}">
  <div class="modal-overley" (click)="deleteModal=false"></div>
  <div class="form">
    <div class="close" (click)="deleteModal=false">×</div>
	<div class="modal-header">
    	<h1>{{'sureWantDeleteDocument' | translate}}</h1>
	</div>
	<div class="modal-footer">
		<div (click)="deleteModal=false">{{'No' | translate}}</div>
		<div class="modal-yes" (click)="deleteDocument()">{{'Yes' | translate}}</div>
	</div>
  </div>
</div>

<div class="modalF" [ngClass]="{'closed': !modalError}">
  <div class="modal-overley" (click)="modalError=false"></div>
  <div class="form">
    <div class="close" (click)="modalError=false">×</div>
	<div class="modal-header">
    <h1>{{errorText}}</h1>
    <p>{{errorDescription}}</p>
	</div>
	<div class="modal-footer">
		<div></div>
		<div (click)="modalError=false">
			{{'Close' | translate}}
		</div>
		<!-- <div class="modal-yes btn-red" (click)="rejectRequest()">
			{{ 'Yes' | translate }}
		</div> -->
	</div>
  </div>
</div>
<a id="showError" (click)="showError()"></a>
