ul li {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #F0F0F0;
}

ul {
    padding-left: 20px;
}

ul li p {
    font-size: 13px;
    line-height: normal;
    color: #000000;
    padding-right: 20px;
}

ul li b {
    font-weight: 600;
}

ul li span {
    font-size: 13px;
    line-height: normal;
    text-align: center;

    color: #C4C4C4;
}

.add-button {
    position: relative;
}

.button-plus {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #2A6BCB;
    color: #fff;
    border-radius: 0 4px 4px 0;
}

.hint {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    line-height: normal;
    text-align: center;

    color: #C4C4C4;
}

.error {
    color: #E63333;
    font-size: 13px;
    margin-bottom: 10px;
}

.delete {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 9px;
}

li {
    position: relative;
    padding-right: 32px;
}

.modal-yes{
    color: #EB5757;
}

.modal-footer div{
    font-weight: bold;
    cursor: pointer;
}

.user-name{
    font-size: 13px;
    line-height: 18px;
}

.spinner-demo.spinner {
    right: 40%;
}

input:disabled {
    opacity: 0.5;
}