<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				{{ "Signatories" | translate }}
			</div>
			<div class="header-right"></div>
		</div>
	</div>
</header>

<div class="container">
	<div class="add-button">
		<input type="tel" [disabled]="loading" (ngModelChange)="onChange($event)" [(ngModel)]="newUserIIN" placeholder="{{ 'SignerIIN' | translate }}"  min="0" inputmode="numeric" pattern="[0-9]*" maxlength="12" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
		<div class="spinner-demo spinner" *ngIf="loading"></div>
		<button class="button-plus" (click)="addUser()" [disabled]="disabled">
			{{ "Add" | translate }}
		</button>
	</div>
	<br>
	<p class="error" *ngIf="error">
		{{ "User already exists" | translate }}
	 <br></p>
	<p class="error" *ngIf="errorSelf"> 
		{{ "You can not add yourself" | translate }}
	 <br></p>
	<div *ngIf="findUser && newUserIIN" class="user-name">
		<p>{{findUser}}</p>
	</div>
</div>

<main>
	<ul>
		<li *ngFor="let item of list; let i = index;">
			<p>{{item.FIO}}</p>
			<span>{{item.iin}}</span>
			<div class="delete" (click)="selectedId = i;modal=true;">
				<img src="assets/imgs/delete.svg" alt="">
			</div>
		</li>
	</ul>
	<div *ngIf="!list.length">
		<span class="hint">
			{{ 'You have not added a signer yet' | translate }}
		</span>
	</div>
</main>

<!-- <button class="btn btn-block btn-fixed" (click)="saveParties()" [disabled]="!list">
	Сохранить
</button> -->

<div class="modalF" [ngClass]="{'closed': !modal}">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
	<div class="modal-header">
    	<h1>{{ 'Are you sure you want to exclude the user?' | translate }}</h1>
	</div>
	<div class="modal-footer">
		<div (click)="modal=false">{{ 'No' | translate }}</div>
		<div class="modal-yes" (click)="removeParties(selectedId)">{{ 'Yes' | translate }}</div>
	</div>
  </div>
</div>