<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				<ng-container *ngIf="tabs === 1">
					{{'Outbox' | translate}}
				</ng-container>
				<ng-container *ngIf="tabs === 2">
					{{'Inbox' | translate}}
				</ng-container>
			</div>
			<div class="header-right">
				<!-- <a [routerLink]="['/agreement/2']">
					<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.1111 7.62665C11.1111 6.86318 11.5364 6.48145 12.3869 6.48145C13.2375 6.48145 13.6628 6.86318 13.6628 7.62665C13.6628 7.99045 13.5552 8.27482 13.34 8.47978C13.1299 8.67962 12.8122 8.77953 12.3869 8.77953C11.5364 8.77953 11.1111 8.39524 11.1111 7.62665ZM13.5552 18.4407H11.211V9.84787H13.5552V18.4407Z" fill="#1565C0"/>
						<circle cx="12.5" cy="12.5" r="11.5" stroke="#1565C0" stroke-width="2"/>
					</svg>
				</a> -->
			</div>
		</div>
	</div>
</header>

<div class="spiner-mask" *ngIf="loading">
	<div>
		<div class="spinner-demo spinner"></div>
	</div>
</div>

<main (swipeleft)="swipeLeft()" (swiperight)="swipeRight()"  data-mc-options='{"touchAction": "pan-y" }'>
	<!-- <ul class="tabs">
		<li>
			<a [routerLink]="['/main/1']" routerLinkActive="active">
				{{'Outbox' | translate}}
			</a>
		</li>
		<li>
			<a [routerLink]="['/main/2']" routerLinkActive="active">
				{{'Inbox' | translate}}
			</a>
		</li>
	</ul> -->
	<div class="filter-btn" >
		<span>{{'Filter data' | translate}}</span>
		<svg (click)="showFilter()" width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M11.2857 22.1131V13.8515C11.2857 12.1073 12.0571 10.5009 13.3429 9.44525L18.5714 5.54391L19 1H1L1.42857 5.68161L6.61429 9.44525C7.9 10.5009 8.67143 12.1073 8.71429 13.8515V19.8182L11.2857 22.1131Z" stroke="#151515" stroke-width="1.5" stroke-miterlimit="10"/>
		</svg>
	</div>

	<ul class="custom-list" *ngIf="list">
		<li *ngFor="let item of list" [routerLink]="[ (tabs === 1 || tabs === '1' ? '/show/' : '/invshow') , item.contractId]">
			<div class="list-top">
				<div class="list-status" *ngIf="item.state">
					<img src="assets/imgs/{{item.state}}.svg" alt="">
				</div>
				<div class="list-title">
					{{item.documentTitle[currentLanguage]}}
				</div>
				<i class="list-right">
					<svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.25 6.49995L0 1.25L1.25 0L7.75276 6.49995L1.25 13L0 11.75L5.25 6.49995Z" fill="#2A6BCB"/>
					</svg>
				</i>
			</div>
			<div class="list-bottom">
				<div class="list-for">
					<ng-container *ngIf="tabs === 1">
						{{'For' | translate}}:
					</ng-container>
					<ng-container *ngIf="tabs === 2">
						{{ 'From' | translate }}:
					</ng-container>
					<ng-container *ngIf="tabs === 1">
						<span *ngFor="let parties of item.parties">
							{{item.partiesFullNames[parties.iin]?.first}}
							{{item.partiesFullNames[parties.iin]?.last}}
							{{item.partiesFullNames[parties.iin]?.middle}}
						</span>
					</ng-container>
					<span *ngIf="tabs === 2">
						{{item.initiatorFullName.first}}
						{{item.initiatorFullName.last}}
						{{item.initiatorFullName.middle}}
					</span>
				</div>
				<div class="list-date">
					{{item.createdDate | date : 'short'}}
				</div>
			</div>
		</li>
	</ul>
	<div class="info-text" *ngIf="!list.length && list.length !== 0">
		{{'Contract list empty' | translate}}
	</div>
</main>

<section class="filter" *ngIf="filterShow">
	<div class="filter-header">
		<div class="container">
			<div class="d-f">
				<div class="header-left">
					<button (click)="closeFilter()">
						<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
						</svg>
					</button>
				</div>
				<div class="header-center">
					{{'Filter' | translate}}
				</div>
				<div class="header-right" (click)="resetFilter()">
					{{'Reset' | translate}}
				</div>
			</div>
		</div>
	</div>
	<div class="filter-body">
		<div class="filter-title">{{'Contract status' | translate}}</div>
		<ul *ngIf="tabs === 1">
			<li *ngFor="let item of statuses" [class.active]="item.state === filter.state.status"
				(click)="filter.state.status = item.state">
				<p>{{item.title}}</p>
			</li>
		</ul>
		<ul *ngIf="tabs === 2">
			<li *ngFor="let item of types" [class.active]="item.state === filter.state.type"
				(click)="filter.state.type = item.state">
				<p>{{item.title}}</p>
			</li>
		</ul>
	</div>

	<div class="btn btn-primary" (click)="closeFilter()">
		{{'Apply' | translate}}
	</div>
</section>


<div class="bottom-fixed">
	<a [routerLink]="['/contract']" class="btn btn-primary" (click)="app.getCookie('user_data')">
		{{'Create contract' | translate}}
	</a>
</div>
