.bottom-fixed{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	z-index: 9;
	background: #fff;
	padding: 20px;
	/*box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.11);*/
    border-top: 1px solid #c7c7c7;
}

.bottom-fixed .btn{
	display: block;
}

ul.tabs {
    display: flex;
    border-bottom: 1px solid #F0F0F0;
}

ul.tabs a {
    text-decoration: none;
    padding: 12px 20px;
    font-size: 13px;
    line-height: 18px;  /* identical to box height */
    align-items: center;
    text-align: center;
    color: #000;
    display: block;
    /*text-transform: uppercase;*/
}

ul.tabs a.active{
	/*font-weight: bold;*/
	color: #2A6BCB;
}

ul.tabs li:first-child a{
    padding-right: 10px;
}

ul.tabs li:last-child a{
    padding-left: 10px;
}

.filter-header{
    border-bottom: 1px solid #F0F0F0;
}

.filter-btn {
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
    
}

.filter-btn span {
    font-size: 13px;
    line-height: 18px;  /* identical to box height */
    display: flex;
    align-items: center;
    color: #C7C7C7;
}

.filter-btn svg{
    cursor: pointer;
}

ul.list li span{
	font-size: 13px;
	padding-top: 5px;
	color: #C4C4C4;
	display: block;
}
ul.custom-list li {
    padding: 20px 20px 15px;
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
}

.list-top {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.list-title {
    font-size: 17px;
    line-height: 22px;  /* or 129% */
    color: #151515;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-status {
    margin-right: 16px;
}

.list-bottom {
    display: flex;
    justify-content: space-between;
}

.list-for {
    font-size: 13px;
    line-height: 18px;
    color: rgba(21, 21, 21, 0.5);
    max-width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-date {
    font-size: 13px;
    line-height: 18px;
    color: rgba(21, 21, 21, 0.5);
}

ul.custom-list {
    margin-bottom: 100px;
}

section.filter {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #ffff;
}

.filter-body {
    padding: 20px;
    padding-right: 0;
}

.filter-title {
    color: rgba(21, 21, 21, 0.25);
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-title:after {
    height: 1px;
    flex: 1;
    background: rgba(21, 21, 21, 0.1);
    content: '';
    margin-left: 10px;
}

.filter-body ul {
    padding-right: 20px;
}

.filter-body li {
    color: #151515;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.filter-body li:after {
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid #C7C7C7;
    border-radius: 50%;
}

.filter-body li.active:after{
    border: 2px solid #2A6BCB;
}

.filter-body li:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #2A6BCB;
    right: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .3s;
}

.filter-body li.active:before {
    opacity: 1;
}

section.filter .header-right {
    color: #151515;
    letter-spacing: -0.0141176em;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
}

.info-text {
    text-align: center;
    color: #C7C7C7;
    font-size: 13px;
}

section.filter .btn {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

main {
    min-height: 80vh;
}

.spiner-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 112px;
    bottom: 0;
    background: #ffffff94;
    z-index: 9;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.spinner-demo.spinner {
    position: relative;
}

.spiner-mask {
    color: #fff;
}

.btns .spinner-demo.spinner.spinner-block-btn {
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
}

.btns .spinner-demo.spinner.spinner-block-btn:before {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}