<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				Smart contract
			</div>
			<div class="header-right">
				<a [routerLink]="['/faq']">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12Z" stroke="#1565C0" stroke-width="2"/>
						<path d="M9.08984 9.00008C9.32495 8.33175 9.789 7.76819 10.3998 7.40921C11.0106 7.05024 11.7287 6.91902 12.427 7.03879C13.1253 7.15857 13.7587 7.52161 14.2149 8.06361C14.6712 8.60561 14.9209 9.2916 14.9198 10.0001C14.9198 12.0001 11.9198 13.0001 11.9198 13.0001" stroke="#1565C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12 17H12.01" stroke="#1565C0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>

<main>
	<ul>
		<li>
			<a [routerLink]="['/main/1']">
				<span class="b-ico">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.36377 2.2727C0.36377 1.06772 1.3406 0.0908813 2.54559 0.0908813H13.7664C14.9713 0.0908813 15.9482 1.06771 15.9482 2.2727V19.7272C15.9482 20.9322 14.9714 21.9091 13.7664 21.9091H2.54559C1.3406 21.9091 0.36377 20.9322 0.36377 19.7272V2.2727Z" fill="#F2F4F8"/>
						<path d="M3.09082 10.4154C3.09082 10.0926 3.35247 9.83099 3.67524 9.83099H12.6363C12.959 9.83099 13.2207 10.0926 13.2207 10.4154V10.4154C13.2207 10.7382 12.959 10.9998 12.6363 10.9998H3.67524C3.35247 10.9998 3.09082 10.7382 3.09082 10.4154V10.4154Z" fill="#D2D2D2"/>
						<path d="M3.09082 13.1427C3.09082 12.8199 3.35247 12.5583 3.67524 12.5583H12.6363C12.959 12.5583 13.2207 12.8199 13.2207 13.1427V13.1427C13.2207 13.4655 12.959 13.7271 12.6363 13.7271H3.67524C3.35247 13.7271 3.09082 13.4655 3.09082 13.1427V13.1427Z" fill="#D2D2D2"/>
						<path d="M3.12891 3.79676C3.12891 3.47399 3.39056 3.21234 3.71332 3.21234V3.21234C4.03609 3.21234 4.29774 3.47399 4.29774 3.79676V3.79676C4.29774 4.11952 4.03609 4.38117 3.71332 4.38117V4.38117C3.39056 4.38117 3.12891 4.11952 3.12891 3.79676V3.79676Z" fill="#D2D2D2"/>
						<path d="M9.71436 3.79236C9.71436 3.4696 9.97601 3.20795 10.2988 3.20795H12.6364C12.9592 3.20795 13.2209 3.4696 13.2209 3.79236V3.79236C13.2209 4.11513 12.9592 4.37678 12.6364 4.37678H10.2988C9.97601 4.37678 9.71436 4.11513 9.71436 3.79236V3.79236Z" fill="#D2D2D2"/>
						<path d="M3.09082 15.87C3.09082 15.5472 3.35247 15.2856 3.67524 15.2856H12.6363C12.959 15.2856 13.2207 15.5472 13.2207 15.87V15.87C13.2207 16.1928 12.959 16.4544 12.6363 16.4544H3.67524C3.35247 16.4544 3.09082 16.1928 3.09082 15.87V15.87Z" fill="#D2D2D2"/>
						<path d="M3.09082 18.5972C3.09082 18.2745 3.35247 18.0128 3.67524 18.0128H12.6363C12.959 18.0128 13.2207 18.2745 13.2207 18.5972V18.5972C13.2207 18.92 12.959 19.1816 12.6363 19.1816H3.67524C3.35247 19.1816 3.09082 18.92 3.09082 18.5972V18.5972Z" fill="#D2D2D2"/>
					</svg>
				</span>
				<span class="right">
          <div class="d-f">
            <b>{{'Outbox' | translate}}</b>
          </div>
					<span class="right-list">
						{{ 'List all outbox' | translate }}
					</span>
				</span>
        <span class="contract-unread" *ngIf="unreadCount.initiator">
          {{unreadCount.initiator < 100 ? unreadCount.initiator : '99+'}}
        </span>
			</a>
		</li>
		<li>
			<a [routerLink]="['/main/2']">
				<span class="b-ico">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.36377 2.2727C0.36377 1.06772 1.3406 0.0908813 2.54559 0.0908813H13.7664C14.9713 0.0908813 15.9482 1.06771 15.9482 2.2727V19.7272C15.9482 20.9322 14.9714 21.9091 13.7664 21.9091H2.54559C1.3406 21.9091 0.36377 20.9322 0.36377 19.7272V2.2727Z" fill="#F2F4F8"/>
						<path d="M3.09082 10.4154C3.09082 10.0926 3.35247 9.83099 3.67524 9.83099H12.6363C12.959 9.83099 13.2207 10.0926 13.2207 10.4154V10.4154C13.2207 10.7382 12.959 10.9998 12.6363 10.9998H3.67524C3.35247 10.9998 3.09082 10.7382 3.09082 10.4154V10.4154Z" fill="#D2D2D2"/>
						<path d="M3.09082 13.1427C3.09082 12.8199 3.35247 12.5583 3.67524 12.5583H12.6363C12.959 12.5583 13.2207 12.8199 13.2207 13.1427V13.1427C13.2207 13.4655 12.959 13.7271 12.6363 13.7271H3.67524C3.35247 13.7271 3.09082 13.4655 3.09082 13.1427V13.1427Z" fill="#D2D2D2"/>
						<path d="M3.12891 3.79676C3.12891 3.47399 3.39056 3.21234 3.71332 3.21234V3.21234C4.03609 3.21234 4.29774 3.47399 4.29774 3.79676V3.79676C4.29774 4.11952 4.03609 4.38117 3.71332 4.38117V4.38117C3.39056 4.38117 3.12891 4.11952 3.12891 3.79676V3.79676Z" fill="#D2D2D2"/>
						<path d="M9.71436 3.79236C9.71436 3.4696 9.97601 3.20795 10.2988 3.20795H12.6364C12.9592 3.20795 13.2209 3.4696 13.2209 3.79236V3.79236C13.2209 4.11513 12.9592 4.37678 12.6364 4.37678H10.2988C9.97601 4.37678 9.71436 4.11513 9.71436 3.79236V3.79236Z" fill="#D2D2D2"/>
						<path d="M3.09082 15.87C3.09082 15.5472 3.35247 15.2856 3.67524 15.2856H12.6363C12.959 15.2856 13.2207 15.5472 13.2207 15.87V15.87C13.2207 16.1928 12.959 16.4544 12.6363 16.4544H3.67524C3.35247 16.4544 3.09082 16.1928 3.09082 15.87V15.87Z" fill="#D2D2D2"/>
						<path d="M3.09082 18.5972C3.09082 18.2745 3.35247 18.0128 3.67524 18.0128H12.6363C12.959 18.0128 13.2207 18.2745 13.2207 18.5972V18.5972C13.2207 18.92 12.959 19.1816 12.6363 19.1816H3.67524C3.35247 19.1816 3.09082 18.92 3.09082 18.5972V18.5972Z" fill="#D2D2D2"/>
					</svg>
				</span>
				<span class="right">
          <div class="d-f">
            <b>{{'Inbox' | translate}}</b>
          </div>
					<span class="right-list">
						{{ 'List all inbox' | translate}}
					</span>
				</span>
        <span class="contract-unread" *ngIf="unreadCount.party">
          {{unreadCount.party < 100 ? unreadCount.party : '99+'}}
        </span>
			</a>
		</li>
		<li>
			<a [routerLink]="['/agreement/2']">
				<span class="b-ico">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="12" fill="#F2F4F8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8501 9C14.8501 10.657 13.5071 12 11.8501 12C10.1931 12 8.8501 10.657 8.8501 9C8.8501 7.34297 10.1931 6 11.8501 6C13.5071 6 14.8501 7.34297 14.8501 9ZM13.5587 12.75H13.9501C15.6892 12.75 17.1001 14.1609 17.1001 15.9V16.875C17.1001 17.4961 16.5962 18 15.9751 18H7.7251C7.104 18 6.6001 17.4961 6.6001 16.875V15.9C6.6001 14.1609 8.01104 12.75 9.7501 12.75H10.1415C10.6642 12.9891 11.2407 13.125 11.8501 13.125C12.4595 13.125 13.0384 12.9891 13.5587 12.75Z" fill="#D2D2D2"/>
					</svg>
				</span>
				<span class="right">
          <div class="d-f">
            <b>{{ 'Processing personal data' | translate }}</b>
          </div>
					<span class="right-list">
						{{ 'List all agreement' | translate }}
					</span>
				</span>
        <span class="contract-unread" *ngIf="unreadCount.personalData">
          {{unreadCount.personalData < 100 ? unreadCount.personalData : '99+'}}
        </span>
			</a>
		</li>
	</ul>
</main>


<div class="bottom-fixed">
	<a [routerLink]="['/contract']" class="btn btn-primary" (click)="getCookies()">
		{{'Create contract' | translate}}
	</a>
</div>
