.bottom-fixed{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	z-index: 9;
	background: #fff;
	padding: 20px;
	/*box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.11);*/
    /*border-top: 1px solid #c7c7c7;*/
}

.bottom-fixed .btn{
	display: block;
}

ul li a {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 12px 16px;
    text-decoration: none;
    color: #000;
}

ul li {
    padding: 8px 20px;
}

ul li a b {
    font-size: 16px;
    line-height: 24px;
    font-size: 16px;
}
.contract-unread {
  color: #fff;
  background-color: red;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
}

span.right .right-list {
    color: rgba(0, 0, 0, 0.58);
    font-size: 12px;
}

span.right b {
    display: block;
}

span.b-ico {
    display: block;
    width: 31px;
}

span.right {
    flex: 1;
}

ul li .b-ico {position: relative;}

/*ul li:last-child .b-ico:before {content: '';position: absolute;right: 0px;width: 10px;top: -4px;height: 10px;background: #D32525;border-radius: 50%;}*/

ul {
    padding-top: 16px;
}
