section {
    min-height: 100vh;
    background: #F0F0F0;
}

h2.template-title {
    margin: 20px 20px 10px;
    font-weight: 600;
    font-size: 17px;
    line-height: normal;
    color: #000000;
}

.template-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.template-conent {
    padding: 20px;
    background: #fff;
}
.form-g {
    margin-bottom: 24px;
}
.form-g.readonly {
  margin-top: 0;
}
.form-g span {
  font-size: 10px;
  line-height: 16px;
  color: #949494;
  margin-top: 4px;
}
.form-g input {
  font-size: 16px;
  color: #000;
}
.form-g.readonly input {
  background: #fff;
  padding: 0;
  height: inherit;
}

.form-g textarea {
  font-size: 16px;
  color: #000;
  background: #F0F0F0;
  border-radius: 4px;
  border: none;
  padding: 18px 16px;
  display: block;
  width: 100%;
}
.form-g label {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,0.6);
  margin-bottom: 10px;
  display: block;
}
.text-readonly {
  font-size: 16px;
  line-height: 24px;
}

select {
    border: 1.5px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    padding: 18px 16px;
    display: block;
    width: 100%;
}

h1{
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 35px;
}

.user-info {
    background: #fff;
    padding: 20px;
}

form {
    position: relative;
    overflow: hidden;
}

.user-info td {
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.2;
}

.user-info td:first-child {
    text-align: right;
    padding-right: 10px;
    color: #848484;
}

.user-info table h3{
	color: #000;
	font-size: 15px;
	margin-bottom: 10px;
}

select{
    background: #F0F0F0;
}

.dynamic{
  position: relative;
}

.errors {
    color: #FF0000;
    font-size: 13px;
    margin-top: 10px;
    display: none;
}

.serverError{
    color: #FF0000;
    font-size: 13px;
    margin-top: 10px;
}

.divider {
  border-top: 24px solid #f0f0f0;
  margin: 0 -20px 12px;
  padding: 12px 20px 0;
}
.divider h3 {
  font-weight: 600;
  line-height: 1.5;
}

.form-g label i {
    color: red;
}

.form-g.readonly label i {
    display: none;
}

.errors-b{
    color: #FF0000;
    font-size: 13px;
    margin-bottom: 10px;
}

.form-g:last-child {
    margin-bottom: 0;
    border-bottom:none;
    padding-bottom:0;
}

.errors.showError {
    display: block;
}

input.ng-valid + .errors,
select.ng-valid + .errors,
textarea.ng-valid + .errors{
    display: none ;
}

.katosModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  overflow: auto;
}
.kato-header {
  height: 66px;
  padding-left: 20px;
  border-bottom: 1px solid #F0F0F0;
}
.kato-list {
  overflow: auto;
  max-height: calc(100vh - 66px);
}

.katosModal li {
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
    display: flex;
}

.katosModal .spinner {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}
.kato-item {
  justify-content: space-between;
  display: flex;
}
.kato-item-check {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.kato-item-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 15px;
}
