<header>
  <div class="container">
    <div class="d-f">
      <div class="header-left">
        <button onclick="window.mobapp.onBackNavigation();">
          <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z"
              fill="#2A6BCB"/>
          </svg>
        </button>
        <!-- <button [routerLink]="['/show', this.id]" *ngIf="this.id">
          <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z"
              fill="#2A6BCB"/>
          </svg>
        </button> -->
      </div>
      <div class="header-center" *ngIf="document">
      </div>
      <div class="header-right">
      </div>
    </div>
  </div>
</header>

<section>
  <form *ngIf="document" #templteForm="ngForm">
    <div class="user-info">
      <h1>{{document.title[currentLanguage]}}</h1>
      <table *ngIf="app.user">
        <tr>
          <td><h3>{{ 'Applicant' | translate }}:</h3></td>
          <td></td>
        </tr>
        <tr>
          <td>{{ 'FullName' | translate }}:</td>
          <td>{{ app.user.fullName }}</td>
        </tr>
        <tr>
          <td>{{ 'IIN' | translate }}:</td>
          <td>{{app.user.iin}}</td>
        </tr>
        <tr *ngIf="app.user.email">
          <td>Email:</td>
          <td>{{app.user.email}}</td>
        </tr>
      </table>
    </div>

    <div class="template-conent">
      <ng-container *ngFor="let item of document.inputForm.fields['1']">
        <div class="form-g" *ngIf="item.display" [class.readonly]="item.readOnly">
          <div class="divider" *ngIf="item.groupTitleKz || item.groupTitleRu">
            <h3>{{currentLanguage === 'kk' ? item.groupTitleKz : item.groupTitleRu}}</h3>
          </div>

          <div *ngIf="!item.source">
            <div *ngIf="item.code !== 'tenant_iin' && item.code !== 'iin_tenant'">

              <label for="field_{{item.code}}">{{item.title[currentLanguage]}} <i *ngIf="item.mandatory">*</i></label>

              <ng-container *ngIf="!item.readOnly">
                <input
                  *ngIf="item.dataType === 'STRING'"
                  [required]="item.mandatory"
                  type="text"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}"
                  [(ngModel)]="documentFields[item.code]"
                  pattern="{{item.validator}}"
                  maxlength="{{item.length}}"
                  a-pattern-restrict
                  autocapitalize="word"
                />

                <textarea
                  *ngIf="item.dataType === 'TEXTAREA'"
                  [required]="item.mandatory"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}"
                  [(ngModel)]="documentFields[item.code]"
                  [pattern]="item.validator"
                  rows="3"
                  maxlength="{{item.length}}"
                ></textarea>

                <input
                  *ngIf="item.dataType === 'TEL'"
                  type="tel"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="7(707) 123 45 67"
                  [required]="item.mandatory"
                  prefix="7"
                  mask="(000) 000 00 00"
                  [value]="documentFields[item.code]"
                  (change)="onChangePhone($event, item)"
                />

                <input
                  *ngIf="item.dataType === 'EMAIL'"
                  [required]="item.mandatory" type="email" name="{{item.code}}" id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}" [(ngModel)]="documentFields[item.code]"
                  [pattern]="item.validator" maxlength="{{item.length}}"
                />
                <app-date-input
                  *ngIf="item.dataType === 'DATE_TIME' || item.dataType === 'LOCAL_DATE'"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}"
                  [model]="documentFields[item.code]"
                  [ngClass]="getFieldStatusClass(item)"
                  [field]="item"
                  [maxDate]="item.maxDate"
                  [minDate]="item.minDate"
                  (onDateChange)="onDateChange($event, item)"
                  [disabled]="item.readOnly"
                ></app-date-input>

                <input
                  *ngIf="item.dataType === 'INTEGER'"
                  type="tel"
                  [required]="item.mandatory"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}"
                  [(ngModel)]="documentFields[item.code]"
                  inputmode="numeric"
                  [pattern]="item.validator"
                  a-pattern-restrict
                  maxlength="{{item.length}}"
                />

                <input
                  *ngIf="item.dataType === 'DOUBLE'"
                  type="tel"
                  [required]="item.mandatory"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  placeholder="{{item.placeHolder[currentLanguage]}}"
                  [(ngModel)]="documentFields[item.code]"
                  inputmode="decimal"
                  [pattern]="item.validator"
                  a-pattern-restrict
                  maxlength="{{item.length}}"
                />
              </ng-container>
              <p *ngIf="item.readOnly" class="text-readonly">
                {{documentFields[item.code]}}
              </p>
              <div class="errors" [class.showError]="item.showError">
                {{item.errorMessage[currentLanguage]}}
              </div>
            </div>
          </div>
          <div *ngIf="item.source" class="dynamic">
            <label>{{item.title[currentLanguage]}} <i *ngIf="item.mandatory">*</i></label>

            <ng-container *ngIf="item.sourceType === 'STATIC' && item.source !== 'cities'">
              <select
                [(ngModel)]="documentFields[item.code]"
                [disabled]="item.readOnly"
                (ngModelChange)="onChangeSelect(item,$event)"
                [required]="item.mandatory"
                name="{{item.code}}"
                id="field_{{item.code}}"
              >
                <option value=""></option>
                <option
                  *ngFor="let option of selects[item.source]"
                  [ngValue]="option.id"
                >{{option.name[currentLanguage]}}</option>
              </select>
            </ng-container>

            <ng-container *ngIf="(item.sourceType === 'DYNAMIC') || (!item.sourceType)">
              <ng-container *ngIf="(item.source === 'kato' && item.targetFields) else otherDynamic">
                <input
                  type="text"
                  readonly="readonly"
                  [(ngModel)]="documentFields[item.targetFields[0]]"
                  name="{{item.code}}"
                  id="field_{{item.code}}"
                  (click)="showModalKato(item)"
                />
              </ng-container>
              <ng-template #otherDynamic>
                <ng-container *ngIf="!this.dynamicListSources[item.code]">
                  <div class="spinner-demo spinner" *ngIf="item.loading"></div>
                  <input
                    *ngIf="!item.readOnly"
                    type="tel"
                    (ngModelChange)="onChange(item.source,$event ,item)" [required]="item.mandatory"
                    name="{{item.code}}" id="field_{{item.code}}" placeholder="{{item.placeHolder[currentLanguage]}}"
                    [(ngModel)]="documentFields[item.code]" minlength="{{item.length}}" inputmode="numeric"
                    pattern="{{item.validator}}"
                    maxlength="{{item.length}}" OnlyNumber="true"
                    a-pattern-restrict
                  />
                  <p *ngIf="item.readOnly" class="text-readonly">
                    {{documentFields[item.code]}}
                  </p>
                  <div class="serverError" *ngIf="item['serverError']">
                    {{item['serverError']}}
                  </div>
                </ng-container>

                <ng-container *ngIf="this.dynamicListSources[item.code]">
                  <select
                    [(ngModel)]="documentFields[item.code]"
                    (ngModelChange)="onSelectDynamicList(item,$event)"
                    [required]="item.mandatory"
                    name="{{item.code}}"
                    id="field_{{item.code}}"
                  >
                    <option value=""></option>
                    <option
                      *ngFor="let option of dynamicListSources[item.code].elements"
                      [value]="option.id"
                    >{{option.name[currentLanguage]}}</option>
                  </select>
              </ng-container>
              </ng-template>
            </ng-container>

            <div class="errors" [class.showError]="item.showError">
              {{item.errorMessage[currentLanguage]}}
            </div>
          </div>
          <span>{{item.hint[currentLanguage]}}</span>
        </div>
      </ng-container>
    </div>
    <br>
    <div class="template-conent">
      <button
        class="btn btn-success btn-block"
        (click)="checkvalidit()"
        [disabled]="creating || saveClicked"
      >{{this.id ? ('Save contract' | translate) : ('Create contract' | translate) }}</button>
    </div>
  </form>
</section>


<div *ngIf="showKatoModal" class="katosModal">
  <div class="spinner-demo spinner" *ngIf="loading"></div>
  <div class="d-f kato-header">
    <div class="header-left">
      <button (click)="showKatoModal = false">
        <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z"
            fill="#2A6BCB"/>
        </svg>
      </button>
    </div>
    <div class="header-center">
      {{'Close' | translate}}
    </div>
    <div class="header-right">
    </div>
  </div>
  <div class="kato-list">
    <ul>
      <li *ngFor="let kato of katos" class="kato-item">
        <div (click)="onSelectKato(katoField, kato)" class="kato-item-check">
          <input type="checkbox" />
        </div>
        <div (click)="showModalKato(katoField, kato)" class="kato-item-title">
          {{ kato.name[currentLanguage] }}
          <i _ngcontent-c2="" class="list-right" *ngIf="!kato.name.ru.includes('город')">
            <svg _ngcontent-c2="" fill="none" height="13" viewBox="0 0 8 13" width="8" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-c2="" d="M5.25 6.49995L0 1.25L1.25 0L7.75276 6.49995L1.25 13L0 11.75L5.25 6.49995Z" fill="#2A6BCB"></path></svg>
          </i>
        </div>
      </li>
    </ul>
  </div>
</div>
