<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				{{ 'Inquiry' | translate }}
			</div>
			<div class="header-right"></div>
		</div>
	</div>
</header>

<div class="container">
	<div class="req-modal">
		<h2>
			{{ 'Request for the collection and processing of personal data' | translate }}
		</h2>
		<p>
			{{ 'Before creating a contract, you need to send a request to the participants of this contract for permission to collect the processing of personal data.' | translate }}
		</p>

		<div class="add-button">
			<input
        [disabled]="loading"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="userIIN"
        placeholder="{{ 'SignerIIN' | translate }}"
        type="tel"
        min="0"
        inputmode="numeric"
        pattern="[0-9]*"
        maxlength="12"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
      />
			<button class="button-plus" (click)="addUser()" [disabled]="loading">
        <div class="spinner-demo spinner" *ngIf="loading"></div>&nbsp;
        {{ 'Add' | translate }}
			</button>
		</div>
		<p class="error" *ngIf="error">{{'User already exists' | translate}} <br></p>
		<p class="error" *ngIf="servererror">{{'errorInvalidIIN' | translate}} <br></p>
		<p class="error" *ngIf="errorSelf">{{'You can not add yourself' | translate}} <br></p>
		<div *ngIf="findUser && userIIN" class="user-name">
			<p>{{findUser}}</p>
		</div>

		<ul class="user-list mb-4">
			<li *ngFor="let item of list; let i = index;">
				<p>{{item.FIO}}</p>
				<span>{{item.iin}}</span>
				<div class="delete" (click)="selectedId = i;modal=true;">
					<img src="assets/imgs/delete.svg" alt="">
				</div>
			</li>
		</ul>

<!--		<div class="add-button">-->
<!--			<input type="tel" [disabled]="loading" (ngModelChange)="onChangeTin($event)" [(ngModel)]="userTin" placeholder="{{ 'Specify BIN (optional)' | translate }}"  min="0" inputmode="numeric" pattern="[0-9]*" maxlength="12" oninput="this.value=this.value.replace(/[^0-9]/g,'');">-->
<!--			<div class="spinner-demo spinner" *ngIf="loadingTin"></div>-->
<!--		</div>-->
<!--		<p class="error" *ngIf="tinError">{{tinError}}</p>-->

		<div *ngIf="userTin && organization" class="organization">
			<ng-container *ngFor="let item of organization">
				<p *ngIf="item.id === '__fullName__'">
					{{ item.name.ru }}
				</p>
			</ng-container>
			<p>{{userTin}}</p>
		</div>

		<div class="label-form">
			<label for="comments">{{ 'Comments (not required)' | translate }}</label>
			<textarea id="comments" [(ngModel)]="comments"></textarea>
		</div>

		<div class="bottom-btn">
			<button class="btn btn-primary" (click)="sendAgreement()" [disabled]="disabled">
				{{ 'Send' | translate }}
			</button>
		</div>
	</div>
</div>



<div class="modalF" [ngClass]="{'closed': !modal}">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
	<div class="modal-header">
    	<h1>
    		{{ 'Are you sure you want to exclude the user?' | translate }}
    	</h1>
	</div>
	<div class="modal-footer">
		<div (click)="modal=false">{{ 'No' | translate }}</div>
		<div class="modal-yes" (click)="removeParties(selectedId)">{{ 'Yes' | translate }}</div>
	</div>
  </div>
</div>
