ul li {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #F0F0F0;
}

ul {
    padding-left: 20px;
}

ul li p {
    font-size: 13px;
    line-height: normal;
    color: #000000;
    padding-right: 20px;
    margin-bottom: 0;
}

ul li b {
    font-weight: 600;
}

ul li span {
    font-size: 13px;
    line-height: normal;
    text-align: center;

    color: #C4C4C4;
}

.add-button {
    position: relative;
}

.button-plus {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #2A6BCB;
    color: #fff;
    border-radius: 0 4px 4px 0;
}

.hint {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    line-height: normal;
    text-align: center;

    color: #C4C4C4;
}

.error {
    color: #E63333;
    font-size: 13px;
    margin-bottom: 10px;
}

.delete {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 9px;
}

li {
    position: relative;
    padding-right: 32px;
}

.modal-yes{
    color: #EB5757;
}

.modal-footer div{
    font-weight: bold;
    cursor: pointer;
}

.user-name{
    font-size: 13px;
    line-height: 18px;
}

.spinner-demo.spinner {
    right: 40%;
}

input:disabled {
    opacity: 0.5;
}

.req-modal h2 {
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 16px;
}

.req-modal p {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 16px;
}

.add-button {
    position: relative;
    margin-bottom:16px;
}

.button-plus {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #2A6BCB;
    color: #fff;
    border-radius: 0 4px 4px 0;
}


.label-form textarea {
    background: #F0F0F0;
    border-radius: 4px;
    border: none;
    width: 100%;
    max-width: 100%;
    min-height: 80px;
    padding: 15px;
    margin-bottom: 16px;
}

.label-form label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
}

.bottom-btn{
    margin-top: 15px;
}

.bottom-btn .btn {
    width: 100%;
}

.organization p {
    margin-bottom: 0!important;
    font-size: 13px;
}

.organization {
    margin-bottom: 16px;
}

p.error {
    color: red!important;
    font-size: 11px!important;
}