ul.tabs {
    display: flex;
    border-bottom: 1px solid #F0F0F0;
}

ul.tabs a {
    text-decoration: none;
    padding: 12px 20px;
    font-size: 13px;
    line-height: 18px;  /* identical to box height */
    align-items: center;
    text-align: center;
    color: #000;
    display: block;
    /*text-transform: uppercase;*/
}

ul.tabs a.active{
	/*font-weight: bold;*/
	color: #2A6BCB;
}

ul.tabs li:first-child a{
    padding-right: 10px;
}

ul.tabs li:last-child a{
    padding-left: 10px;
}

ul.agreement-list li {
    padding: 16px 20px 28px;
    border-bottom: 1px solid #F0F0F0;
}

.agreement-status.USED {
    background: #f6f6f6;
    color: #2db366;
}

.agreement-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 12px;
}

.agreement-top-info .date {
    font-size: 13px;
    line-height: 18px;
    text-align: right;    /* Black-100 */
    color: #C7C7C7;
}

.agreement-document {
    line-height: 22px;  /* or 129% */
    letter-spacing: -0.0141176em;    /* Main black */
    color: #000000;
    margin-bottom: 10px;
}

.agreement-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.agreement-bottom a {
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;    /* Web primary color */
    color: #1565C0;
    text-decoration: none;
}

.agreement-status {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;  /* identical to box height */
    display: flex;
    align-items: center;    /* Yellow */
    border-radius: 4px;
    color: #fff;
    padding: 4px 10px;
    text-transform: uppercase;
}


.agreement-status.ACCEPTOR_REJECTED ,.agreement-status.REJECTED {
    background: #E63333;
}

.agreement-status.ACCEPTOR_SIGNED, .agreement-status.SUCCESS{
    background: #2DB366;
}

.agreement-status.CREATED {
    background: #F2C94C;
}

.agreement-status.REQUESTED {
    background: #F2C94C;
}

.agreement-company {
    font-size: 12px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.agreement-comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.btns div, .btns button {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #1565C0;
    padding: 8px;
    width: 44%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.btns .btn-reject {
    color: #E63333;
}

.btn-red{
    color: #E63333;
}

.modal-footer div{
    cursor: pointer;
}

.spiner-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 112px;
    bottom: 0;
    background: #ffffff94;
    z-index: 9;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.spinner-demo.spinner {
    position: relative;
}

.spiner-mask {
    color: #fff;
}

.btns .spinner-demo.spinner.spinner-block-btn {
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
}

.btns .spinner-demo.spinner.spinner-block-btn:before {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
}