<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				{{'Processing personal data' | translate}}
			</div>
			<div class="header-right"></div>
		</div>
	</div>
</header>

<main>
	<ul class="tabs">
		<li>
			<a [routerLink]="['/agreement/1']" routerLinkActive="active">
				{{ 'Sended' | translate }}
			</a>
		</li>
		<li>
			<a [routerLink]="['/agreement/2']" routerLinkActive="active">
				{{ 'Received' | translate }}
			</a>
		</li>
	</ul>

	<ul class="agreement-list" *ngIf="list">
		<li *ngFor="let item of list">
			<div class="agreement-top-info">
				<div class="for">
					<ng-container *ngIf="tabs === 1">
						{{ 'For' | translate }}:
						{{ item.full_name_acceptor['ru'] | titlecase }}
					</ng-container>
					<ng-container *ngIf="tabs === 2">
						{{ 'From' | translate }}:
						{{ item.full_name_initiator['ru'] | titlecase }}
					</ng-container>
				</div>
				<div class="date">
					{{ item.updated_at | date : 'short' }}
				</div>
			</div>
			<div class="agreement-document">
				{{ item.title[currentLanguage] | titlecase }}
			</div>
			<div class="agreement-company" *ngIf="item.company_name">
				<p>{{ item.company_name['ru'] }}</p>
			</div>
			<div class="agreement-comment" *ngIf="item.commentary">
				<p>{{ item.commentary }}</p>
			</div>
			<div class="agreement-bottom" *ngIf="tabs === 1">
				<div class="agreement-status {{item.status}}">
					{{ getStatus(item.status) }}
				</div>
				<a [href]="'action://mgov.mobile.kz/module?page=pdfagreement&id=' + item.agreement_id | safeUrl">
					{{ 'Download agreement' | translate }}
				</a>
			</div>
			<div class="agreement-bottom" *ngIf="tabs === 2">
				<ng-container *ngIf="item.status !== 'REQUESTED' && item.status !== 'CREATED'">
					<div class="agreement-status {{item.status}}">
						{{ getStatus(item.status) }}
					</div>
					<a [href]="'action://mgov.mobile.kz/module?page=pdfagreement&id=' + item.agreement_id | safeUrl">
						{{ 'Download agreement' | translate }}
					</a>
				</ng-container>
				<ng-container *ngIf="item.status === 'REQUESTED' || item.status === 'CREATED'">
					<div class="btns">
						<button class="btn-accept" (click)="getXML(item.agreement_id, item);" [disabled]="item.loading">
							{{ 'Confirm' | translate }} <div class="spinner-demo spinner spinner-block-btn" *ngIf="item.loading"></div>
						</button>
						<div class="btn-reject" (click)="selectedRequest = item.agreement_id;modal = true;">
							{{ 'Reject' | translate }}
						</div>
					</div>
					<br>
				</ng-container>
			</div>
			<div class="agreement-bottom" *ngIf="tabs === 2 && (item.status === 'REQUESTED' || item.status === 'CREATED')">
				<div></div>
				<a [href]="'action://mgov.mobile.kz/module?page=pdfagreement&id=' + item.agreement_id | safeUrl">
					{{ 'Download agreement' | translate }}
				</a>
			</div>
		</li>
	</ul>

	<div class="spiner-mask" *ngIf="loading">
		<div>
			<div class="spinner-demo spinner"></div>
		</div>
	</div>
</main>


<div class="modalF" [ngClass]="{'closed': !modal}" *ngIf="tabs === 2">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
	<div class="modal-header">
    	<h1>
    		{{ 'Are you sure you want to decline the request?' | translate }}
    	</h1>
	</div>
	<div class="modal-footer">
		<div (click)="modal=false">
			{{ 'No' | translate }}
		</div>
		<div class="modal-yes btn-red" (click)="rejectRequest()">
			{{ 'Yes' | translate }}
		</div>
	</div>
  </div>
</div>

<div class="modalF" [ngClass]="{'closed': !modalError}" *ngIf="tabs === 2">
  <div class="modal-overley" (click)="modalError=false"></div>
  <div class="form">
    <div class="close" (click)="modalError=false">×</div>
	<div class="modal-header">
    	<h1>
        {{'You are trying to sign the consent with AUTH' | translate}}
    	</h1>
	</div>
	<div class="modal-footer">
		<div></div>
		<div (click)="modalError=false">
			{{'Close' | translate}}
		</div>
		<!-- <div class="modal-yes btn-red" (click)="rejectRequest()">
			{{ 'Yes' | translate }}
		</div> -->
	</div>
  </div>
</div>
<a id="showError" (click)="showError()"></a>

<a id="reload" (click)="getIncomeAgreements()"></a>
