<header>
	<div class="container">
		<div class="d-f">
			<div class="header-left">
				<button onclick="window.mobapp.onBackNavigation();">
					<svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.87386 10.5001L12 18.9808L10.0652 21L9.17932e-07 10.5001L10.0652 -1.69145e-07L12 2.01923L3.87386 10.5001Z" fill="#2A6BCB"/>
					</svg>
				</button>
			</div>
			<div class="header-center">
				{{'Choose a template' | translate}}
			</div>
			<div class="header-right">
			</div>
		</div>
	</div>
</header>

<section class="first-step" *ngIf="this.templates">
	<ul class="list">
		<li *ngFor="let item of templates">
      <div class="list-title" [routerLink]="['/template/' + item.documentId]">
        <h5>
          {{item.title[currentLanguage]}}
        </h5>
        <i class="list-right">
          <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.25 6.49995L0 1.25L1.25 0L7.75276 6.49995L1.25 13L0 11.75L5.25 6.49995Z" fill="#2A6BCB"/>
          </svg>
        </i>
      </div>
      <div class="bottom-flex">
        <a class="req-agree" [routerLink]="['/modal/', item.documentId]">
          {{ 'Request consent' | translate }}
        </a>
        <a (click)="getTemplate(item.documentId)">
          {{ 'View sample' | translate }}
        </a>
      </div>
		</li>
	</ul>
</section>
