section.templates {
    position: fixed;
    left: 100%;
    right: -100%;
    top: 70px;
    bottom: 0;
    background: #fff;
    z-index: 99;
    transition: all .3s ease-in-out;
}

section.templates.show{
    left: 0;
    right: 0;
}
ul.list {
  padding: 0;
}
.list a{
    font-size: 13px;
    line-height: 18px;
    color: #1565C0;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
}
ul.list li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 16px 20px;
}
.bottom-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.req-agree {
    border: 2px solid #1565C0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
}

.list-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-title h5 {
  text-decoration: underline;
}
