@import "~bootstrap/dist/css/bootstrap.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
    padding-top: 69px;
}


button,input,textarea{
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
	background: none;
	border: none;
	outline: none;
}

*, *:before, *:after{
	box-sizing: border-box;
}


.container {
    padding: 20px;
}

.d-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border: 1px solid #F0F0F0;
        position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
input[type="date"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.header-center {
    font-weight: 600;
    line-height: normal;
    font-size: 17px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

 ul.list li {
	border: 0;
	border-color: #F0F0F0;
	border-bottom: none;
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: linear-gradient(0deg, #F0F0F0, #F0F0F0 100%);
	min-height: 48px;
	display: flex;
	padding: 14px 20px 14px 0;
	align-items: center;
	position: relative;
}

i.list-ico {
    margin-right: 14px;
}

i.list-right {
    margin-left: auto;
}

ul.list {
    padding-left: 20px;
}

ul.list li:active * {
    opacity: 0.8;
    /*background: #fcfcfc;
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    bottom: -1px;
    right: 0;
    z-index: 1;*/
}

ul.list li i,ul.list li span {
    position: relative;
    z-index: 2;
}

*:focus {
    outline: none;
}

span.list-title {
    max-width: 80%;
    text-overflow: ellipsis;
    word-break: inherit;
    width: 80%;
    overflow: hidden;
}

input:not([type='checkbox']) {
    background: #F0F0F0;
    border-radius: 4px;
    border: none;
    padding: 18px 16px;
    display: block;
    width: 100%;
    height: 56px;
    /*line-height: 56px;*/
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin: 0;
}

.btn-fixed {
    width: calc(100% - 40px);
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.custom-input {
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 55px;
    font-size: 13px;
    padding-left: 20px;
    color: #6C6C6C;
    position: relative;
    line-height: 55px;
}

.custom-input i {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

.custom-input p {
    max-width: 80%;
    text-overflow: ellipsis;
    word-break: inherit;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #F0F0F0;
}

.top-nav .nav-tab {
    font-size: 12px;
    line-height: normal;
    color: #000000;
    padding: 12px 0;
    text-transform: uppercase;
}

.nav-tab.active {
    font-size: 12px;
    font-weight: 700;
    color: #2A6BCB;
}

.spinner-demo:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinnerDemo2 .6s linear infinite;
}

.spinner-demo {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 1px;
}

@keyframes spinnerDemo2 {
    to {
        transform: rotate(360deg)
    }
}


.info-t span{
    position: relative;
}

.info-t span .spinner-demo {
    right: -15px;
    top: -15px;
}

.reload img{
    width: 20px;
}

.reload{
    float: right;
}


.statusblock{
    min-width: 100px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background: #F2C94C;
    padding: 5px 0px;
    border-radius: 3px;
    display: inline-block;
}

.statusblock.signed{
    background: #2DB366;
    color: #fff;
}

span.statusblock.rejected {
    background: #E63333;
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.header-right{
    min-width: 24px;
}

input.ng-invalid.ng-touched.ng-dirty,
select.ng-invalid.ng-touched.ng-dirty,
textarea.ng-invalid.ng-touched.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched ,
select.ng-valid.ng-touched {
  border: 1px solid green;
}

input.ng-invalid.ng-touched.ng-dirty + .errors,
select.ng-invalid.ng-touched.ng-dirty + .errors,
textarea.ng-invalid.ng-touched.ng-dirty + .errors{
    display: block!important;
}


.modal-overley {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 75535;
}

.form {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .22), 0 17px 20px 0 rgba(0, 0, 0, .12);
    left: 10%;
    position: fixed;
    top: 80px;
    width: 80%;
    z-index: 76535;
    transition: all .5s ease;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    outline: 0;
}

.close {
    cursor: pointer;
    right: 10px;
    position: absolute;
    top: 4px;
    z-index: 99;
    font-size: 30px;
    line-height: 30px;
}

.closed .form {
    top: -1000px;
}

.closed .modal-overley{
    display: none;
}

.form h1 {
    font-weight: 600;
    letter-spacing: .02rem;
    font-size: 1.21875rem;
    color: rgba(0,0,0,.87);
    color: #444;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}



.form p {
    font-size: 18px;
    color: #444;
}

.close:hover {
    color: #000;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 0;
}

.modal-body {
    padding: 20px;
    text-align: center;
    min-height: 50vh;
    max-height:  50px;
    overflow: auto;
    position: relative;
}

.modal-footer {
    padding: 20px;
    display: flex;
    border-top: 1px solid rgba(0,0,0,.05);
    justify-content: space-between;
}
.w-100 {
  width: 100%;
}
